<link rel="import" href="./clippy-element.html">

<template id="tmpl-clippy-app">
  <style>
    :host {
      display: flex;
      position: relative;
      flex-direction: column;
      flex: 1;
      background: #fff;
      overflow: hidden;
      margin: 1rem;
      border-radius: .3em;
      box-shadow: 0 0px 10px 0 rgba(0, 0, 0, .14),
        0 4px 18px 0 rgba(0, 0, 0, .12),
        0 3px 5px -2px rgba(0, 0, 0, .2);
    }

    :host(.is-linux) {
      margin: 0;
      box-shadow: none;
      border-radius: 0;
    }
  </style>
  <slot></slot>
</template>

<script>
  (_ => {
    const {ipcRenderer} = require('electron');

    class ClippyApp extends ClippyElement {
      static get is() {
        return 'clippy-app';
      }

      constructor() {
        super();

        this.init = this.init.bind(this);
      }

      ready() {
        if (process.platform === 'linux') {
          this.classList.add('is-linux');
        }

        window.addEventListener('load', this.init);

        // Critical key events
        window.addEventListener('keyup', event => {
          if (event.keyCode === 27 && !event.defaultPrevented) {
            ipcRenderer.send('hide');
          }
        });
      }

      init() {
        // Notifiy main process to store sender
        ipcRenderer.send('init');

        // New clipboard items detected by watcher appear here
        ipcRenderer.on('clipboard-item', (event, item) => {
          Clippy.items.addItem(item);
        });

        // When it says so
        ipcRenderer.on('clear-items', _ => {
          Clippy.items.clearItems();
        });

        ipcRenderer.on('stats', (event, item) => {
          this.stats = item;
          Clippy.settings.statsChange(this.stats);
        });

        Clippy.settings.addEventListener('settings', event => {
          ipcRenderer.send('settings', event.detail);
        });
      }
    }

    window.customElements.define(ClippyApp.is, ClippyApp);
  })();
</script>
