<link rel="import" href="./clippy-element.html">

<template id="tmpl-clippy-settings">
  <style>
    :host {
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent;
      pointer-events: none;
    }

    :host * {
      box-sizing: border-box;
    }

    #scrim {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0;
      will-change: opacity;
      transition: opacity 150ms cubic-bezier(0.4, 0.0, 1, 1);
    }

    .content {
      width: 400px;
      margin: auto;
      display: flex;
      flex-direction: column;
      padding: .75em 1em;
      border-bottom-right-radius: .25em;
      border-bottom-left-radius: .25em;
      will-change: transform;
      transform: translateY(-110%);
      transition: transform 150ms cubic-bezier(0.4, 0.0, 1, 1);
      background: #fff;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14),
        0 1px 10px 0 rgba(0, 0, 0, .12),
        0 2px 4px -1px rgba(0, 0, 0, .2);
    }

    :host([visible]) {
      transition: transform 150ms cubic-bezier(0.0, 0.0, 0.2, 1);
      pointer-events: initial;
      opacity: 1;
    }

    :host([visible]) #scrim {
      opacity: 0.4;
      transition: opacity 150ms cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    :host([visible]) .content {
      transform: translateY(0);
    }

    .setting {
      display: flex;
      flex-direction: row;
    }

    #title {
      margin: 0 0 .5em 0;
      font-weight: normal;
      font-size: 1.1em;
    }
  </style>
  <span id="scrim"></span>
  <div class="content">
    <h1 id="title">Settings</h1>
    <slot></slot>
  </div>
</template>

<script>
  (_ => {
    const TrapKeyboard = require('./scripts/trap-keyboard.js');
    class ClippySettings extends ClippyElement {
      static get is() {
        return 'clippy-settings';
      }

      constructor() {
        super();

        this.show = this.show.bind(this);
        this.hide = this.hide.bind(this);
        this._onKeyup = this._onKeyup.bind(this);
        this.trap = new TrapKeyboard(this);

        this.stats = {};
      }

      ready() {
        // Add event listeners
        this.$.scrim.addEventListener('click', this.hide);

        this.$.startup.addEventListener('change', _ => {
          this.dispatchEvent(new CustomEvent('settings', {
            detail: {startup: this.$.startup.checked}
          }));
        })
      }

      _updateSettings() {
        if (!this.stats) {
          return;
        }

        if (!this.stats.accelerator) {
          // Accelerator was not registedred and probably cannot be used now
        }

        if (!this.stats.startup) {
          // App is not configured to run at startup
          this.$.startup.checked = false;
        } else {

        }
      }

      _onKeyup(event) {
        if (event.keyCode === 27) {
          event.preventDefault();
          event.stopPropagation();
          this.hide();
        }
      }

      statsChange(stats) {
        this.stats = Object.assign({}, this.stats, stats);
        this._updateSettings();
      }

      show() {
        this.addEventListener('keyup', this._onKeyup);
        this.trap.trap();

        requestAnimationFrame(_ => {
          this.setAttribute('visible', '');
        });
      }

      hide() {
        this.removeEventListener('keyup', this._onKeyup);
        this.trap.unTrap();

        requestAnimationFrame(_ => {
          this.removeAttribute('visible');
        });
      }

      get visible() {
        return this.hasAttribute('visible');
      }
    }

    window.customElements.define(ClippySettings.is, ClippySettings);
  })();
</script>
