<script>
  /**
   * Wrapper for a custom element, contains some boilerplate,
   * basically a stripdown version of Polymer.element
   * (https://github.com/Polymer/polymer/)
   *
   *
   * @extends HTMLElement
   *
   */
  class ClippyElement extends HTMLElement {
    connectedCallback() {
      // Attach this to the Clippy object in window, based on the 'id' attribute
      if (this.id) {
        window.Clippy[this.id] = this;
      }

      // Append the class to the Clippy object
      window.Clippy[this.constructor.name] = this.constructor;

      this.root = this;
      this._template = this.template;

      if (this._template) {
        this.root = this._stampTemplate(this._template);
      }

      // Get all the children with an 'id', and set them into an object
      // Makes it ease to not query them again
      this.$ = {};
      // From shadow dom
      Array.from(this.root.querySelectorAll('[id]'))
        .forEach(el => this.$[el.id] = el);
      // From slots
      Array.from(this.querySelectorAll('[id]'))
        .forEach(el => this.$[el.id] = el);

      // Trigger the ready, this method is overrided
      this.ready();
    }

    disconnectedCallback() {
      // Delete the reference
      delete window.Masto[this.getAttribute('id')];
    }

    _parseTemplateStringToTemplate(templateString) {
      const tempEl = document.createElement('template');
      tempEl.innerHTML = templateString;
      return tempEl;
    }

    _stampTemplate(template) {
      if (template) {
        if (typeof template === 'string') {
          template = this._parseTemplateStringToTemplate(template);
        }
        const content = template.content.cloneNode(true);

        this.attachShadow({mode: 'open'});
        this.shadowRoot.appendChild(content);
        return this.shadowRoot;
      }
    }

    importTemplate(is) {
      is = is || this.constructor.is;
      const selector = `template#tmpl-${is}`;

      if (document.currentScript) {
        return document.currentScript.ownerDocument.querySelector(selector);
      } else {
        return document.querySelector(selector);
      }
    }

    get template() {
      return this.importTemplate(this.constructor.is);
    }

    /**
     * @override
     */
    ready() {}
  }

  window.Clippy = window.Clippy || {};
  Clippy.Element = ClippyElement;
</script>
