<link rel="import" href="./clippy-element.html">

<template id="tmpl-material-switch">
  <style>
    :host {
      display: flex;
      width: 100%;
    }

    :host * {
      box-sizing: border-box;
    }

    .item-input--switch {
      position: relative;
      padding: .5em;
      width: 100%;
      display: flex;
      align-items: center;
    }

    .item-input--switch input[type=checkbox] {
      position: absolute;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
    }

    .item-input--switch .switch {
      display: inline-block;
      width: 2em;
      height: 1.125em;
      position: relative;
      left: -.5em;
    }

    .item-input--switch .switch .track {
      border-radius: 1.125em;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .16);
    }

    .item-input--switch .switch .handle {
      position: absolute;
      top: 0;
      left: 0;
      width: 1.125em;
      height: 1.125em;
      border-radius: 100%;
      background: #aaa;
      overflow: hidden;
      transition: all 0.15s ease-out;
      will-change: transform;
    }

    .item-input--switch .switch .track::before,
    .item-input--switch .switch .handle::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity 0.15s ease-out;
      will-change: opacity;
      border-radius: inherit;
    }

    .item-input--switch .switch .track::before {
      background: var(--color-accented--light);
    }

    .item-input--switch .switch .handle::before {
      background: var(--color-accented);
    }

    .item-input--switch :checked+.switch .track::before,
    .item-input--switch :checked+.switch .handle::before {
      opacity: 1;
    }

    .item-input--switch :checked+.switch .handle {
      transform: translateX(1em);
    }
  </style>
  <label class="item-input item-input--switch">
    <input type="checkbox" id="switchInput" tabindex="-1" checked>
    <span class="switch">
      <span class="track"></span>
      <span class="handle"></span>
    </span>
    <span class="item-label--inline"><slot></slot></span>
  </label>
  </button>
</template>

<script>
  class MaterialSwitch extends ClippyElement {
    static get is() {
      return 'material-switch';
    }

    constructor() {
      super();

      this._onKeydown = this._onKeydown.bind(this);
      this._onInputChange = this._onInputChange.bind(this);
    }

    ready() {
      this.setAttribute('tabindex', 0);
      this.addEventListener('keydown', this._onKeydown);
      this.$.switchInput.addEventListener('change', this._onInputChange);
    }

    _onKeydown(event) {
      if (event.keyCode === 32 || event.keyCode === 13) {
        this.$.switchInput.checked = !this.$.switchInput.checked;
      }
    }

    _onInputChange() {
      this.dispatchEvent(new CustomEvent('change'));
      this.focus();
    }

    get checked() {
      return !!this.$.switchInput.checked;
    }

    set checked(value) {
      this.$.switchInput.checked = !!value;
    }
  }

  window.customElements.define(MaterialSwitch.is, MaterialSwitch);
</script>
