:root {
  --color-primary-1: #424242;
  --color-primary-2: #616161;
  --color-primary-3: #757575;
  --color-primary-4: #fafafa;

  --color-accented: #9C27B0;
  --color-accented--light: #E1BEE7;
  --color-foreground: #fff;
  --color-scrollbar: var(--color-accented);
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: inherit;

  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

html,
body {
  display: flex;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Noto Sans", system-ui, sans-serif;
  color: var(--color-primary-1);
  font-size: 16px;
  line-height: 1.5;
  flex-direction: column;
  background: transparent;
  padding: 1em;
}

.panes-container {
  display: flex;
  height: 100%;
  width: 100%;
}
